{% extends "layout.html" %}
{% block title %}Spelling Bee{% endblock %}
{% block page %}Log In{% endblock %}

{{ super() }}

{% block content %}

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="/login">
        {{ form.csrf_token }}

        <div class="input-field col s12 m8 offset-m2"> 
          {{ form.username(size=20, class="validate") }}
          {{ form.username.label }}
        </div>

        <div class="input-field col s12 m8 offset-m2">
          {{ form.password(size=20, class="validate") }}
          {{ form.password.label }}
        </div>

        <div class="input-field col s12 m8 offset-m2">
          {{ form.submit (class="btn white-text #0d47a1 blue darken-4")}}
          <br>
          <p></p>
          <br>
          <a href="/signup" class="black-text"><u><i>I don't have an account</i></u></a>
          <br><br>
          <a href = "/" class="center-align waves-effect waves-light btn white-text blue darken-4">Return</a>
        </div> 
        
    </form>
  
</div>

{% endblock %}
