{% extends "layout.html" %}
{% block title %}Word Page{% endblock %}
{% block page %}Word Page{% endblock %}

{{ super() }}

{% block content %}
<body>
    <div id = 'content'>
        <form method="POST" action ="/api/validate">
            {{cGame.userWord}}
            {{cGame.spellingWord (value = spellWord )}}
            {{cGame.points}}
            {{cGame.submit}}     
            {{cGame.currentScore (value = currentScore) }}
            {{cGame.correctWords (value = correctWords) }}
            {{cGame.incorrectWords (value = incorrectWords) }}
            {{cGame.index (value = currentIndex)}}      
            <input type="button" value = "speak" onclick="wordToSpeech()">
        </form>
        
    </div>
    <script src ="/static/VoiceBox.js"></script>
</body>
    
{% endblock %}