{% extends "layout.html" %}
{% block title %}Spelling Bee{% endblock %}
{% block page %}SPELL THE WORD{% endblock %}

{{ super() }}

{% block content %}
<body>
    <div id = 'content' class = "container">
        <div class = "row">
           <h3 class = "col s6 ">Points: {{userData['currentScore']}}</h3> 
           <h3 class = "col s6 "> Hearts: {{userData['currentIndex']}} /3 </h3> 
        </div>
        
        <img src="{{url_for('static', filename = 'images/gamemaster.PNG')}}" alt="gamemaster" height="400" class="center" onclick="wordToSpeech()"/>

        <p class="center"> Click the Game Master to play the word</p>
        <form method="POST" action ="/api/validate" class = "card grey lighten-3" >
            {{cGame.userWord}}
            {{cGame.spellingWord (value = userData['word'] )}}
            {{cGame.points (value = userData['points']) }}
            {{cGame.submit}}     
            {{cGame.currentScore (value = userData['currentScore']) }}
            {{cGame.correctWords (value = userData['correctWords']) }}
            {{cGame.incorrectWords (value = userData['incorrectWords']) }}
            {{cGame.index (value = userData['currentIndex']) }} 
        </form>
        <button><a href="/">QUIT</a></button>
            <table>
                <th>Answer</th>
                <th>User Entered</th>
            </table>
    </div>
    <script src ="/static/VoiceBox.js"></script>
    
</body>
    
{% endblock %}