{% extends "layout.html" %}
{% block title %}Spelling Bee{% endblock %}
{% block page %}SPELLING BEE{% endblock %}

{{ super() }}

{% block content %}
<body>
    
   
    <div id = 'content' >
        <form method="POST" action ="/WordPage" class ="col s12">
            {{userStats.index (value = userData["currentIndex"]) }}
            {{userStats.incorrectWords (value = userData["incorrectWords"]) }}
            {{userStats.currentScore (value = userData["currentScore"]) }}
            {{userStats.correctWords (value = userData["correctWords"]) }}
            {{userStats.submit (value = 'Begin')}}     
        </form>
    </div>


    <a href="/" class="#2962ff blue accent-4 waves-effect waves-light btn"> QUIT </a>
</body>
    
{% endblock %}